.graphic{
  align-items: center;
  text-align: center;
  color: #C7C7CC;
  font-size: 14px;
  width: 100%;
  margin: auto;

  @media (min-width:1024px) {
    text-align: left;
    margin-top: 10%;
  }
}

